* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    
}
body {
    background-color: #382a4a;
    background-image: linear-gradient(35deg,#0b1830fe, rgba(245, 245, 220, 0.1));
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
h2{
    text-align: center;
    display: inline-flex;
    float: inline-end;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant:normal;
    padding-left: 20px;   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: beige;
    padding: 20px 100px;
    position: relative;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #444343d6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 20px;
}
nav h2 a{
    text-decoration: none;
    color: #444343;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li a:hover{
    color: tomato;
    border-bottom: 2px solid tomato;
}
nav h2 a:hover{
    color: tomato;
}
.info{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin:7rem 5rem 5rem 7rem;
    width: 80vw;
    height: 50vh;
    background-image: linear-gradient(25deg,#b275b065, beige);
    background-color: beige;
    border-radius:60px;
    
}
.info img{
    width: 33%;
    border-radius: 80px ;
    border: 10px solid tomato;
    
}
.info h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 60px;
    font-size: 70px;
    color: tomato;
    
}
#text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-weight: bold;
    padding: 0rem 6rem 0rem 6rem ;
    
}

.info p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:20px 10px ;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px 30px 0px 30px;      
}

h3{
    font-size: 32px;
    color: tomato;
    margin-left: 2rem;
}

.cards {
    width: 100%;
    height: 70px;
    display: flex;
    margin: 0px;

}

.card1,.card2,.card3{
    background-color: beige;
    border-radius: 50px;
    width: 33%;
    height: 70vh;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.cards img{
    width: 650px;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;


}
.pill {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 0.25em;
    border: none;
    outline: none;
    background-color: tomato;
    width: 7.5em;
    height: 2.5em;
    cursor: pointer;

}

.pill:hover {
    background-color: rgb(228, 227, 175);
}